networks:
  app-network:
    driver: bridge

volumes:
  data:

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgrespw
    ports:
      - 32769:5432
    volumes:
      - data:/var/lib/postgresql
    networks:
      - app-network